{
  "appName": "{{ app_name }}",
  "appVersion": "{{ app_version }}",
  "environment": "{{ app_environment }}",
  "port": {{ app_port }},
  "installPath": "{{ app_install_path }}",
  "httpsMode": "{{ https_mode }}"
}